@page
@model InventoryDBRazor.Pages.maint.status.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ListStatus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ListStatus.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ListStatus.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ListStatus.StatusID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
